# Dependencies
node_modules/
client/node_modules/

# Python Virtual Environment & Cache
venv/
apbot/venv/
__pycache__/
*.pyc

# Production Builds
client/dist/
client/dist-ssr/

# IDE / System
.vscode/
.idea/
.DS_Store
*.log

# Temp files
scratch/
